/* This is purely for the demo */
.container {
  max-width: 800px;
  margin: 0 auto;
}
.plyr {
  border-radius: 4px;
  margin-bottom: 15px;
}

.plyr__tooltip {
	display: none;
}

.plyr__control {
	background-color: transparent !important;
}

.plyr--full-ui input[type=range]::-webkit-slider-thumb {
	border-radius: 0;
	width: 1px;
}

:root {
  --plyr-color-main: #999;
  --plyr-control-icon-size: 16px;
  --plyr-menu-radius: 1px;
  --plyr-range-track-height: 2px;
  --plyr-progress-loading-size: 60px;
}